<h1>Users#show</h1>

<%= @user.name %> <br>
<%= @user.location %> <br>
<%= @user.email %> <br>
<hr>
<h2>Plants</h2>
<ul>
<% @user.plants.each do |p| %>
  <li><%= p.planttype %> - <%= p.name %> - <%= link_to 'Show', p %> - <%= link_to 'Edit', edit_plant_path(p) %> - <%= link_to 'Delete', p, method: :delete %></li>
<% end %>
</ul>
<h2>Photos</h2>
<% @user.photos.each do |p| %>
  <li>ID#<%= p.id %> - <%= p.plant.name %> - <%=  p.image -%> - <%= link_to 'Show', p %> - <%= link_to 'Edit', edit_photo_path(p) %> - <%= link_to 'Delete', p, method: :delete %></li>
<% end %>
</ul>
